<div class="w-full h-full">
    <div class="px-4 pt-2 flex justify-between border border-skyblue">
        <header>Cotact form</header>
        <div (click)="close()">X</div>
    </div>
    <div class="content-form p-4">
        <form action="https://formsubmit.co/dineshdqg@gmail.com" method="POST">
          <div class="flex py-4 w-full">
                <label  class="w-[50%]">Your name</label>
                <input name="name" type="text" class="w-[50%] border border-skyblue" >
            </div>
            <div class="flex py-4 w-full">
                <label  class="w-[50%]">What's app number</label>
                <input name="whatapp" type="number" class="w-[50%] border border-skyblue" >
            </div>
           <div class="flex py-4 w-full">
                <label  class="w-[50%]">your city name</label>
                <input name="city" type="text" class="w-[50%] border border-skyblue" >
            </div>
            <input type="submit" value="Send" class="w-full border border-skyblue">
        </form>
    </div>


</div>