<div class=" text-white">
  <h2 class="text-3xl font-bold text-center mb-8 text-sky-400">My Projects</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 max-w-5xl mx-auto">
    
    <!-- Project 1 -->
    <div class="bg-[#1e293b] p-6 rounded-xl shadow hover:shadow-lg transition">
      <h3 class="text-xl font-semibold mb-2">Dynamic Dashboard</h3>
      <p class="text-sm text-gray-300 mb-2">Built a web-based inventory system to manage stock, suppliers, and purchase orders.</p>
      <p class="text-sm text-sky-400">Java · Spring Boot · Angular</p>
    </div>

    <!-- Project 2 -->
    <div class="bg-[#1e293b] p-6 rounded-xl shadow hover:shadow-lg transition">
      <h3 class="text-xl font-semibold mb-2">Node managment</h3>
      <p class="text-sm text-gray-300 mb-2">Created a dashboard to visualize employee performance and manage internal HR workflows.</p>
      <p class="text-sm text-sky-400">Angular 18 · RxJS · NgRx</p>
    </div>

    <!-- Project 3 -->
    <div class="bg-[#1e293b] p-6 rounded-xl shadow hover:shadow-lg transition">
      <h3 class="text-xl font-semibold mb-2">Topology managment</h3>
      <p class="text-sm text-gray-300 mb-2">Developed modules for video courses, quiz systems, and progress tracking.</p>
      <p class="text-sm text-sky-400">React · Node.js · MongoDB</p>
    </div>

    <!-- Project 4 -->
    <div class="bg-[#1e293b] p-6 rounded-xl shadow hover:shadow-lg transition">
      <h3 class="text-xl font-semibold mb-2">Network management</h3>
      <p class="text-sm text-gray-300 mb-2">Visualized network nodes using Cytoscape.js with Angular integration.</p>
      <p class="text-sm text-sky-400">Cytoscape.js · Angular · SCSS</p>
    </div>

  </div>
</div>
