.first-title {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 500;
   
}

.heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.3em;
    // text-shadow: 0px 0px 6px
}

.description-title {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.7em;
   
}