<div class="flex flex-col px-16 py-16">
  <div class="flex items-center justify-center h-32">
    <p class="first-title text-center border-2 border-skyblue rounded px-4 py-2" style="color: white;">
      Design Service Collaboration for Architects, Interior Designers, and Builders
    </p>

  </div>
  <div class="flex flex-center justify-center">
    <h1 style="color: white;" class="heading-title">Grow Your <span style="color: aqua;">Design Studio</span> Without
      <u>Hiring</u> or <u>Training a Single Employee</u></h1>
  </div>
  <div class="flex flex-center justify-center">
    <h2 style="color: white;" class="description-title">Outsource your interior & architectural design work to our
      expert team and get high quality outputs, on time, every time without the cost and chaos of managing an in-house
      team.</h2>
  </div>
  <div class="aspect-video">
  <iframe
    class="w-full h-full"
    src="https://www.youtube.com/embed/ZwAmdeSywWs"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
  <div class="flex flex-center justify-center p-8">
    <button style="background-color: #25D366; color: white; display: inline-block; width: 40%; height: 60px;" (click)="openModal()">contact on whatapp</button>
  </div>
  <div class="flex flex-center justify-center">
    <img src="/building.jpeg" alt="" >
  </div>
</div>
</div>